@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{max-width: 100%; vertical-align: top;}
body{background: #fff; color: #333;}
table{border-collapse: collapse;}
button{cursor: pointer;}

.wrap{position: relative; width: 100%; height: 700px;}
header{width: 100%; height: 100px; background: #e4c375;}
header .inner{width: 1200px; margin: auto; height: 100px; background: #e4c375; padding-top: 25px; padding-left: 10px; position: relative;}
nav{position: absolute; top: 40px; right: 0; z-index: 10;}
nav>ul{display: flex;}
nav>ul>li>a{display: block; width: 150px; padding: 10px; color: #fff; text-align: center;}
nav>ul>li:hover>a,
nav>ul>li>a:focus{background: #8ae528;}
.sub{display: none;}
.sub>li>a{display: block; width: 150px; padding: 5px; background: #fff; text-align: center;}
.sub>li>a:hover,
.sub>li>a:focus{background: #e4c375;}

.contents{width: 1200px; margin: auto; height: 500px;}
.slide{position: relative; width: 1200px; margin: auto; height: 300px; overflow: hidden;}
.slide ul{position: absolute; top: 0; left: 0; width: 1200px; height: 300px;}
.slide ul li{position: relative; width: 1200px; height: 300px; margin: auto;}
.slide ul li a{display: block; height: 100%;}
.slide img{width: 100%; height: 100%; object-fit: cover;}
.slide ul li div{position: absolute; bottom: 0; background: rgba(228, 195, 117, .5); padding: 10px;}
.slide ul li p{color: #fff; margin-top: 10px;}

.con{height: 200px; display: flex;}
.con article{width: 400px;}
.notice h2>a{display: block; width: 150px; color: #e4c375; padding: 10px 5px;}
.notice td{width: 100px; text-align: left; color: #e4c375; font-weight: bold; font-size: 13px;}
.notice th>a{display: block; width: 300px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 6px;}

.gall h2>a{display: block; width: 150px; color: #e4c375; padding: 10px 5px;}
.gall ul{padding: 10px; display: flex; gap: 10px;}
.gall ul li:hover{opacity: 0.5;}
.gall img{width: 120px; height: 120px; object-fit: cover;}

.banner h2>a{display: block; width: 150px; color: #e4c375; padding: 10px 5px;}
.banner>a{display: block; height: 100%; position: relative;}
.banner img{width: 380px; height: 140px; object-fit: cover; border-radius: 30px;}
.banner a>div{position: absolute; background: rgba(228, 195, 117, .5); top: 0; left: 0; width: 380px; height: 140px; border-radius: 30px; padding: 20px; text-align: center; color: #fff;}
.banner h3{font-size: 24px;}
.banner h4{font-size: 15px; font-weight: normal; margin-bottom: 5px;}
.banner p{font-size: 12px; display: inline-block; background: #333; padding: 7px;}

footer{width: 100%; height: 100px; background: #333;}
footer .inner{width: 1200px; margin: auto; height: 100px; background: #333; color: #fff; padding-top: 30px; padding-left: 10px; display: flex; gap: 20px; position: relative;}
.fsns{position: absolute; top: 40px; right: 20px; display: flex; gap: 10px;}
.fsns a{width: 30px; height: 30px; padding: 10px; text-align: center; display: block;}
.fsns>li:nth-child(1)>a{background: #2ac423; border-radius: 50px;}
.fsns>li:nth-child(2)>a{background: #2623c4; border-radius: 50px;}
.fsns>li:nth-child(3)>a{background: red; border-radius: 50px;}

.popup{position: absolute; width: 500px; padding: 20px; text-align: center; background: #fff; border-radius: 20px; z-index: 9999; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none;}
.button{text-align: right;}
button{padding: 10px;}
button:hover{background: #e4c375; color: #fff;}
